{% extends 'base.html.twig' %}

{% block title %}

    {% if title %}

        Modifier {{ trick.title }}

    {% else %}

        Add a trick

    {% endif %}

{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1>
                    {% if title %}

                        Modifier {{ trick.title }}

                    {% else %}

                        Add a trick

                    {% endif %}
                </h1>




                {{ form_start(formTrick) }}

                {{ form_row(formTrick.title, {'attr': {'placeholder':"Trick Name"}}) }}
                {{ form_row(formTrick.category) }}
                {% autoescape false %}
                    {{ form_row(formTrick.content, {'attr': {'placeholder':"Content"}}) }}
                {% endautoescape %}
                {{ form_row(formTrick.image, {'attr': {'placeholder':"Image URL"}}) }}

                <button type="submit" class="btn btn-primary text-uppercase my-5">

                    {% if editMode %}

                        Modify the trick

                    {% else %}

                        Add a trick

                    {% endif %}

                </button>

                {{ form_end(formTrick) }}
            </div>
        </div>
    </div>

{% endblock %}